{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Анализатор страниц</h1>
    
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Проверить сайт</h5>
            <form action="{{ url_for('add_url') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="url" class="form-control" placeholder="https://www.example.com" required>
                    <button class="btn btn-primary" type="submit">Проверить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}