{% extends "base.html" %}

{% block title %}Сайт {{ url.id }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Сайт: {{ url.name }}</h1>
    
    <table class="table" data-test="url">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
        </tbody>
    </table>


    <h2 class="mt-4">Проверки</h2>
    <form action="{{ url_for('check_url', id=url.id) }}" method="post">
      <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form> 

    <table class="table table-bordered mt-3" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата проверки</th>
        </tr>
      </thead>
      <tbody>
        {% for check in checks %}
          <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code if check.status_code else '' }}</td>
            <td>{{ check.h1 if check.h1 else '' }}</td>
            <td>{{ check.title if check.title else '' }}</td>
            <td>{{ check.description if check.description else '' }}</td>
            <td>{{ check.created_at.strftime('%Y-%m-%d') if check.created_at else '' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}