{% extends "base.html" %}

{% block title %}Список сайтов{% endblock %}

{% block content %}
    <h1 class="mb-4">Список сайтов</h1>
    
    <table class="table" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td><a href="{{ url_for('show_url', id=url.id) }}">{{ url.name }}</a></td>
                    <td>{{ url.last_check_date.strftime('%Y-%m-%d') if url.last_check_date else '' }}</td>
                    <td>{{ url.last_status_code if url.last_status_code else '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}